@font-face {
  font-family: THSarabun;
  src: url(font/THSarabunNew.ttf);
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {

}

.bodyDiv {
  padding: 10px;
}

code {
  
}
